body {
  background: black;
  font-family: Georgia, Bangla;
  margin: 0;
  padding: 0;
  text-align: center;
}
@font-face {
  font-family: "Bangla";
  src: url("./bangla.ttf");
}
h1 {
  font-family: Georgia, Bangla;
  font-size: 7vw;
  background-image: linear-gradient(-90deg, #ff0000, rgb(166,246,86), rgb(85,246,246), rgb(166, 85, 246), rgb(246,85,85));
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 2.5s linear infinite;
  margin: 10px 0;
  text-align: center;
}
p {
	font-family: Georgia, Bangla;
  font-size: 1.2em;
  color: #00ffe7;
  line-height: 1.5;
  margin: 1em;
}
