body {
	height: 100%;
	  font-family: "Times New Roman", Times, serif;
	font-size: 20px;
    font-weight: 10;
    color: #00ffe7;
	background-color:black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*{
    margin: 0;
    padding: 0;
}
.rainbow-text {
  background-image: linear-gradient(-90deg, #ff0000, rgb(166,246,86), rgb(85,246,246), rgb(166, 85, 246), rgb(246,85,85));
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 2.5s linear infinite;
  font-size: 20px;
  padding: 5px;
  animation-direction: reverse;
}